{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Subjects</h4>
                <a class="btn btn-primary m-2" href="{% url 'subject_add' %}" type="button"><span
                        class="fa fa-plus"></span> Add Class</a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    {% if subjects is not None %}
                    <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Name</th>
                        <th>Abbriviated Name</th>
                        <th>Optional</th>
                        <th>Active</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects %}
                    <tr>
                        <td><a href="{% url 'subject_edit' subject.id %}"><span
                                class="mdi mdi-pencil-box-outline"></span></a>
                        </td>
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.abbreviated_name }}</td>
                        <td>{{ subject.is_optional }}</td>
                        <td>{{ subject.is_active }}</td>
                        <td><a href="{% url 'subject_del' subject.id %}"><span
                                class="mdi mdi-delete-forever"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% else %}
                    <div class="d-flex justify-content-center">
                        <p class="text-info">Nothing to show here</p>
                    </div>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}