{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{# Edits Subject #}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if timetable_type.id %}
                    Edit
                    {% else %}
                    Add
                    {% endif %}
                    Timetables Type</h4>
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="org_id" type="hidden" value="{{ organisation.id }}">
                    <input name="id" type="hidden" value="{{ timetable_type.id }}">
                    <div class="form-group">
                        <label for="inputTitle">Name</label>
                        <input class="form-control" id="inputTitle" name="title" placeholder="Timetable Type name..."
                               type="text"
                               value="{{ timetable_type.title }}">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <input class="form-control" id="inputDescription" name="description"
                               placeholder="Type description..." type="text"
                               value="{{ timetable_type.description }}">
                    </div>
                    <!--                    <div class="form-check form-check-flat form-check-primary">-->
                    <!--                        <label class="form-check-label">-->
                    <!--                            <input checked class="form-check-input" name="is_active"-->
                    <!--                                   type="checkbox" value="{{ subject.is_active }}">Is active</label>-->
                    <!--                    </div>-->
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark" onclick="window.history.back()">Cancel</button>
                        </div>
                        <div>
                            <button class="btn btn-primary me-2" type="submit">
                                {% if subject.id %}
                                Update
                                {% else %}
                                Submit
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}