{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{# Edits Exam Type #}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if exam_type.id %}
                    Edit
                    {% else %}
                    Add
                    {% endif %}
                    Exam Type</h4>
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ exam_type.id }}">
                    <div class="form-group">
                        <label for="inputTitle">Name</label>
                        <input class="form-control" id="inputTitle" name="title" placeholder="Exam type name..."
                               type="text"
                               value="{{ exam_type.title }}">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" id="inputDescription" name="description"
                                  placeholder="Description...">{{ exam_type.description }}</textarea>
                    </div>
                    {% if exam_type.id %}
                    <div class="form-group">
                        <label class="switch">
                            <input name="is_active" type="checkbox" value="{{ exam_type.is_active }}">
                            <span class="slider round"></span>
                        </label>
                        <label>&nbsp&nbsp Active</label>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark" onclick="window.history.back()">Cancel</button>
                        </div>
                        <div>
                            <button class="btn btn-primary me-2" type="submit">
                                {% if exam_type.id %}
                                Update
                                {% else %}
                                Submit
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}