{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Exams</h4>
                <a class="btn btn-primary m-2" href="{% url 'exam_add' %}" master="button"><span
                        class="fa fa-plus"></span> Add Exam</a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    {% if exam_masters is not None %}
                    <thead>
                    <tr>
                        <th>Edit</th>
                        <th>Title</th>
                        <th>Exam Type</th>
                        <th>Term</th>
                        <th>Year</th>
                        <th>Active</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exam_master in exam_masters %}
                    <tr>
                        <td><a href="{% url 'exam_edit' exam_master.id %}"><span
                                class="mdi mdi-pencil-box-outline"></span></a>
                        </td>
                        <td>{{ exam_master.title }}</td>
                        <td>{{ exam_master.exam_type }}</td>
                        <td>{{ exam_master.term.name }}</td>
                        <td>{{ exam_master.year }}</td>
                        <td>{{ exam_master.is_active }}</td>
                        <td><a href="{% url 'exam_del' exam_master.id %}"><span
                                class="mdi mdi-delete-forever"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% else %}
                    <div class="d-flex justify-content-center">
                        <p class="text-info">Nothing to show here</p>
                    </div>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}