{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {% if level.id %}
                    Edit
                    {% else %}
                    Add
                    {% endif %}
                    Level</h4>
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ level.id }}">
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input class="form-control" id="inputTitle" name="title" placeholder="Title..." type="text"
                               value="{{ level.title }}">
                    </div>
                    <div class="form-group">
                        <label for="organisationSelect">Organisation</label>
                        <select class="form-control form-control-lg" id="organisationSelect" multiple
                                name="organisation">
                            {% for organisation in organisations %}
                            <option value="{{ organisation.id }}">{{ organisation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" id="inputDescription" name="description"
                                  placeholder="Description...">{{ level.description }}</textarea>
                    </div>
                    {% if level.id %}
                    <div class="form-group">
                        <label class="switch">
                            <input name="is_active" type="checkbox" value="{{ level.is_active }}">
                            <span class="slider round"></span>
                        </label>
                        <label>&nbsp&nbsp Active</label>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark" onclick="window.history.back()">Cancel</button>
                        </div>
                        <div>
                            <button class="btn btn-primary me-2" type="submit">
                                {% if level.id %}
                                Update
                                {% else %}
                                Submit
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}