{% extends "admin_panel/admin_base.html" %}
{% load static %}
{% block content %}
{# Edits Exam Score #}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% if exam.id %}
                <h4 class="card-title">Edit Exam Score</h4>
                {% else %}
                <h4 class="card-title">Add Exam Score</h4>
                {% endif %}
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ score.id }}">
                    <div class="form-group">
                        <label for="resultSelect">Exam Result</label>
                        <select class="form-control form-control-lg" id="resultSelect"
                                name="result_id">
                            <option value="">--Select Result--</option>
                            {% for result in results %}
                            <option value="{{ result.id }}">{{ result }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subjectSelect">Subject</label>
                        <select class="form-control form-control-lg" id="subjectSelect"
                                name="subject_id">
                            <option value="">--Select Class--</option>
                            {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gradeSelect">Grade</label>
                        <select class="form-control form-control-lg" id="gradeSelect"
                                name="grade_id">
                            <option value="">--Select Grade--</option>
                            {% for grade in grades %}
                            <option value="{{ grade.id }}">{{ grade }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputMark">Mark</label>
                        <input class="form-control" id="inputMark" name="test_score" placeholder="Mark or Score"
                               type="number"
                               value="{{ score.test_score }}">
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="inputYear">Year</label>-->
                    <!--                        <input class="form-control" id="inputYear" name="year" placeholder="Exam Score type name..."-->
                    <!--                               type="text"-->
                    <!--                               value="{{ exam.title }}">-->
                    <!--                    </div>-->
                    {% if exam.id %}
                    <div class="form-group">
                        <label class="switch">
                            <input name="is_active" type="checkbox" value="{{ exam.is_active }}">
                            <span class="slider round"></span>
                        </label>
                        <label>&nbsp&nbsp Active</label>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark" onclick="window.history.back()">Cancel</button>
                        </div>
                        <div>
                            {% if exam.id %}
                            <button class="btn btn-primary me-2" type="submit">Update</button>
                            {% else %}
                            <button class="btn btn-primary me-2" type="submit">Submit</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}