{% extends "admin_panel/admin_base.html" %}
{% load static %}
{% block content %}
{# Edits Exam #}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {% if exam.id is null %}
                <h4 class="card-title">Add Exam</h4>
                {% else %}
                <h4 class="card-title">Edit Exam</h4>
                {% endif %}
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ exam.id }}">
                    <div class="form-group">
                        <label for="inputTitle">Name</label>
                        <input class="form-control" id="inputTitle" name="title" placeholder="Exam name..." type="text"
                               value="{{ exam.title }}">
                    </div>
                    <div class="form-group">
                        <label for="organisationSelect">Exam type</label>
                        <select class="form-control form-control" id="organisationSelect"
                                name="exam_type_id">
                            <option value="">--Select Exam Type--</option>
                            {% for exam_type in exam_types %}
                            <option value="{{ exam_type.id }}">{{ exam_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="classSelect">Classes</label>
                        <select class="form-control form-control-lg" id="classSelect" multiple
                                name="class">
                            <option value="">--Select Classes--</option>
                            {% for class in classes %}
                            <option value="{{ class.id }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="termSelect">Term</label>
                        <select class="form-control form-control" id="termSelect"
                                name="term">
                            <option value="">--Select Term--</option>
                            {% for term in terms %}
                            <option value="{{ term.id }}">{{ term }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputYear">Year</label>
                        <input class="form-control" id="inputYear" name="year" placeholder="Exam year..." type="text"
                               value="{{ exam.year }}">
                    </div>
                    {% if exam.id %}
                    <div class="form-group">
                        <label class="switch">
                            <input name="is_active" type="checkbox" value="{{ exam.is_active }}">
                            <span class="slider round"></span>
                        </label>
                        <label>&nbsp&nbsp Active</label>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark" onclick="window.history.back()">Cancel</button>
                        </div>
                        <div>
                            {% if exam.id %}
                            <button class="btn btn-primary me-2" type="submit">Update</button>
                            {% else %}
                            <button class="btn btn-primary me-2" type="submit">Submit</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}