{% extends "accounts/admin/admin_base.html" %}
{% load static %}
{% block content %}
{# Edits both Organisation and OrganisationProfile #}
<div class="row d-flex justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add User</h4>
                <form action="" class="forms-sample" method="POST">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ user_type.id }}">
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="inputFirstName">First Name</label>
                            <input class="form-control" id="inputFirstName" name="first_name" placeholder="First name..."
                                   type="text" value="{{ user_type.title }}">
                        </div>
                        <div class="form-group col-4">
                            <label for="inputMiddleName">Middle Name</label>
                            <input class="form-control" id="inputMiddleName" name="middle_name" placeholder="Middle name..."
                                   type="text" value="{{ user_type.title }}">
                        </div>
                        <div class="form-group col-4">
                            <label for="inputLastName">Last Name</label>
                            <input class="form-control" id="inputLastName" name="last_name" placeholder="Last name..."
                                   type="text" value="{{ user_type.title }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="inputUserName">User Name</label>
                            <input class="form-control" id="inputUserName" name="username" placeholder="Username..."
                                   type="text" value="{{ user_type.title }}">
                        </div>
                        <div class="form-group col-4">
                            <label for="inputEmail">Email Address</label>
                            <input class="form-control" id="inputEmail" name="email" placeholder="Email..." type="email"
                                   value="{{ user_type.title }}">
                        </div>
                        <div class="form-group col-4">
                            <label for="userTypeSelect">User Type</label>
                            <select class="form-control" id="userTypeSelect" name="user_type">
                                {% for user_type in user_types %}
                                <option value="{{ user_type.id }}">{{ user_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="inputPassword">Password</label>
                            <input class="form-control" id="inputPassword" name="password1" placeholder="Password..."
                                   type="password" value="{{ user_type.title }}">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <input class="form-control" id="inputConfirmPassword" name="password2"
                                   placeholder="Confirm password..." type="password" value="{{ user_type.title }}">
                        </div>
                    </div>
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="roleSelect">Roles</label>-->
                    <!--                        <select class="form-control form-control-lg" id="roleSelect" multiple name="role">-->
                    <!--                            {% for role in  roles %}-->
                    <!--                                <option value="{{ role.id }}">{{ role }}</option>-->
                    <!--                            {% endfor %}-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group">-->
                    <!--                        <label for="inputDescription">Description</label>-->
                    <!--                        <textarea class="form-control" id="inputDescription" placeholder="Description..." name="description">{{ user_type.description }}</textarea>-->
                    <!--                    </div>-->
                    <!--                    {% if user_type.id %}-->
                    <!--                        <div class="form-group">-->
                    <!--                            <label class="switch">-->
                    <!--                                <input type="checkbox" name="is_active" value="{{ user_type.is_active }}">-->
                    <!--                                <span class="slider round"></span>-->
                    <!--                            </label>-->
                    <!--                            <label>&nbsp&nbsp Active</label>-->
                    <!--                        </div>-->
                    <!--                    {% endif %}-->
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-dark">Cancel</button>
                        </div>
                        <div>
                            {% if org.id %}
                            <button class="btn btn-primary me-2" type="submit">Update</button>
                            {% else %}
                            <button class="btn btn-primary me-2" type="submit">Submit</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}